@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbars App-Wide */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* Tailwind slate-300 for Light Mode */
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #262848; /* Fortechz navy for Dark Mode */
}

html.dark body {
  background: #0b0b19;
  color-scheme: dark;
}
